$green_color:#558063;
$link_color:#333333;
$gray_color: #767676;
$light_gray_color:#b3b3b3a0;
$light_gray_color2:#fff3f3a0;
$white_color:#ffffff;
$text_font1:"Metrophobic", sans-serif;
$text_font2:"Nunito", sans-serif;